* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

@font-face {
    font-family: Norse-Bold;
    src: url(./fonts/Norse-Bold.otf);
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.image-container {
    width: 30vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.image-container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: relative;
}

.image-container .for-logo {
    height: 35%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.image-container .transparent {
    background-color: rgba(34, 34, 34, 0.75);
    height: 35%;
    color: white;
    font-family: Norse-Bold;
    font-size: 70px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.transparent img {
    width: 25%;
}

.transparent p {
    text-align: center;
}

.image-container .for-credit {
    height: 65%;
    width: 100%;
    position: absolute;
    top: 35vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

p.credit {
    color: rgb(224, 224, 224);
    font-size: 10px;
    position: relative;
    bottom: 1.5vh;
}

a {
    text-decoration: none;
    color: rgb(224, 224, 224);
}

.form-container {
    width: 70vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    height: 35%; 
    background-color: rgb(249, 250, 251);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.header p {
    padding: 1em 2em;
}

.header p.header-top {
    font-size: 20px;
}

.header p.header-bottom {
    font-size: 20px;
    padding: 1em 2em 2.5em;
}

form {
    height: 42.5%;
    background-color: white;
    box-shadow: 0px 0px 10px 2px lightgrey, 0px 5px 10px 0px lightgrey;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2rem 3rem;
    flex-wrap: wrap;
}

h3 {
    font-size: 1.5rem;
    width: 100%;
}

form p {
    font-size: 0.75rem;
    width: 100%;
    position: relative;
    bottom: 0.25rem;
}

.first-name-container,
.last-name-container,
.email-container,
.phone-container,
.password-container,
.confirm-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    font-size: 11px;
    letter-spacing: 0.1rem;
    gap: 0.25rem;
}

input {
    width: 65%;
    height: 1rem;
    border: 2px solid lightgrey;
    border-radius: 3px;
    padding: 0.5rem;
}


.bottom {
    height: 22.5%;
    background-color: rgb(249, 250, 251);
    /* z-index: -1; */
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
    gap: 1rem;
}

.bottom button {
    width: 30%;
    height: 20%;
    color: white;
    background-color: darkolivegreen;
    border-radius: 6px;
}

.bottom button:hover {
    cursor: pointer;
    background-color: rgb(122, 149, 76);
}

.bottom button:active {
    background-color: rgb(72, 88, 41);
}

.bottom a {
    color: darkolivegreen;
}



